{% extends 'base.html' %}
{% block cambio%}
<div>
    <form action="/apps/busca" method="GET">

        <input type="text" value="">
        <input type="submit" value="Buscar">

    </form>
</div>



{% for Juegos in object_list %}
{% if Juegos %}
<h3> VIDEOJUEGO </h3>
<h5>{{Juegos.nombre}}</h5>
<p> Plataforma: {{Juegos.subnombre}}</p>
{% else %}
<p> No hay blogs </p>
{% endif %}


  <p class="lead mb-0">


      </p>
<p>
    <p>
     <a href="{% url 'JuegoDetalle' Juegos.id %}">Detalles</a>
    <a href="{% url 'JuegoEditar' Juegos.id %}">Editar</a>
    <a href="{% url 'JuegoBorrar' Juegos.id %}">Borrar</a>
</p>

{% endfor %}
{% endblock %}
