{% extends 'base.html' %}
{% block cambio%}

<p> Buenas tardes, mi nombre el Agustin Correa el creador de este blog. Arranque en el mundo de la programacion este anio
    con el objetivo de crecer y progresar en la vida. Este es mi proyecto final, una pagina web creada a partir de el
    framework "django", y su backend creado en python. Se trata de un blog, donde la gente peuda recomendar sus videojuegos
    favoritos.
    Espero que la disfrutes.
</p>


     <a href="{% url 'Inicio' %}">Volver al inicio</a>
</p>

    {% endblock %}